* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #1e293b;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
} 

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background: #38bdf8;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0ea5e9;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    background: #334155;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
}

#counter {
    margin-top: 5%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #94a3b8;
}

.edit-btn {
    background: rgb(242, 157, 0);
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}